.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #57C5B6;
    color: #ffffff;
    padding: 1rem;
    text-align: center; 
  }
  
  .header h1 {
    font-size: 2rem;
    color: #159895;
    margin: 0; 
  }
  
  .header p {
    font-size: 1.2rem;
    margin: 0 1rem;
    color: #1A5F7A;
  }
  
  .header button {
    background-color: #159895;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .header button:hover {
    background-color: #002B5B;
  }
  